
# ---------------------------------------------------

AddDefaultCharset utf-8
php_value date.timezone Europe/Moscow

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^chess [NC]
RewriteRule (.*) http://chess/$1 [R=301,L]

# ---------------------------------------------------
