
# ---------------------------------------------------

AddDefaultCharset utf-8
php_value date.timezone Europe/Moscow

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} !^chess\.gavrishkin\.ru [NC]
RewriteRule (.*) http://chess.gavrishkin.ru/$1 [R=301,L]

# ---------------------------------------------------
