.allwrp {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  width: 1144px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.mcolswrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mcolswrp .mcol {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  outline: 1px solid #ccc;
}

.mcolswrp .mcol.mcol_c {
  -ms-flex-preferred-size: 564px;
      flex-basis: 564px;
  width: 564px;
  outline: none;
}

.mcolswrp .mcol.mcol_l {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  width: 250px;
  margin-right: 40px;
}

.mcolswrp .mcol.mcol_r {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  width: 250px;
  margin-left: 40px;
}

.toppanelwrp {
  margin-bottom: 50px;
}

.toppanel {
  outline: 1px solid #ccc;
}

.botpanelwrp {
  margin-top: 50px;
}

.botpanel {
  outline: 1px solid #ccc;
}

.botpanel .ntcwrp {
  display: none;
  margin-top: 10px;
}

.botpanel .ntcwrp.er, .botpanel .ntcwrp.ok {
  display: block;
}

.botpanel .ntcwrp.er {
  color: #ce2d2d;
}

.botpanel .ntcwrp.ok {
  color: #26ca71;
}

.chessboardwrp {
  margin-top: 50px;
  opacity: .05;
}

.chessboard {
  width: 560px;
  height: 560px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 2px solid #9794bd;
  -webkit-box-sizing: initial;
          box-sizing: initial;
}

.chessboard.pr {
  pointer-events: none;
  opacity: .5;
}

.chessboard .cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.chessboard .cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  width: 70px;
  height: 70px;
  position: relative;
}

.chessboard .cell.clr_1 {
  background: #f9f8ff;
}

.chessboard .cell.clr_0 {
  background: #9794bd;
}

.chessboard .cell:hover, .chessboard .cell.sel {
  background-color: rgba(215, 127, 255, 0.5);
}

.chessboard .cell .vv,
.chessboard .cell .hh {
  text-align: center;
  position: absolute;
  color: #4a467e;
  font-family: "Intro";
}

.chessboard .cell .vv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -20px;
  top: 0;
  bottom: 0;
}

.chessboard .cell .hh {
  left: 0;
  right: 0;
  bottom: -25px;
}

.chessboard .cell .vv2,
.chessboard .cell .hh2 {
  opacity: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.chessboard .cell .vv2 {
  left: auto;
  right: -20px;
}

.chessboard .cell .hh2 {
  bottom: auto;
  top: -25px;
}

.chessboard .figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.chessboard .figure {
  position: absolute;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
  -webkit-transition: .5s;
  transition: .5s;
}

.chessboard .figure.fgr_19 {
  background-image: url("../img/fig/wk.png");
}

.chessboard .figure.fgr_18 {
  background-image: url("../img/fig/wq.png");
}

.chessboard .figure.fgr_14 {
  background-image: url("../img/fig/wb.png");
}

.chessboard .figure.fgr_13 {
  background-image: url("../img/fig/wn.png");
}

.chessboard .figure.fgr_15 {
  background-image: url("../img/fig/wr.png");
}

.chessboard .figure.fgr_11 {
  background-image: url("../img/fig/wp.png");
}

.chessboard .figure.fgr_29 {
  background-image: url("../img/fig/bk.png");
}

.chessboard .figure.fgr_28 {
  background-image: url("../img/fig/bq.png");
}

.chessboard .figure.fgr_24 {
  background-image: url("../img/fig/bb.png");
}

.chessboard .figure.fgr_23 {
  background-image: url("../img/fig/bn.png");
}

.chessboard .figure.fgr_25 {
  background-image: url("../img/fig/br.png");
}

.chessboard .figure.fgr_21 {
  background-image: url("../img/fig/bp.png");
}

.chessboard.myblack {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.chessboard.myblack .figure {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.chessboard.myblack .vv,
.chessboard.myblack .hh {
  opacity: 0;
}

.chessboard.myblack .vv2,
.chessboard.myblack .hh2 {
  opacity: 1;
}
